body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-color: #fdfdff;
    margin: 0;
}

.page-header {
    width: 1170px;
    padding: 20px 55px;
    margin: 0 auto 40px;
}

.main-nav {
    display: flex;
}

.logo {
    width: 64px;
    margin: 0;
}

.site-navigation {
    list-style-type: none;
    padding: 0;
    margin: 0 40px 0 auto;
    width: 560px;
}

.signin {
    width: 36px;
}

.site-navigation-item a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #163152;
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
}

.hero {
    margin-bottom: 120px;
}

.hero h1 {
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.blog-article {
    display: flex;
    gap: 30px;
    margin: 0 auto 100px;
    width: 1030px;
}

.blog-article-wrapper {
    width: 400px;
}

.blog-article h2 {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.blog-article-date {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.blog-article:nth-child(3) .blog-article-img {
    order: -1;
}

.blog-article:nth-child(3) {
    margin-bottom: 120px;
}

.gallery {
    width: 1170px;
    margin-bottom: 120px;
}

.slider {
    display: flex;
    align-items: flex-start;
}

.active-photo {
    margin-right: 30px;
    width: 970px;
}

.gallery h2 {
    margin: 0;
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.preview-list {
    width: 170px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.preview-list li {
    margin-bottom: 30px;
}

.preview-list li:last-child {
    margin-bottom: 0;
}

.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.post-img {
    margin: 0;
    padding: 0;
}

.news h2 {
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.post-img figcaption {
    font-size: 16px;
    line-height: 19px;
    color: #8693a4;
}

.post h3 {
    font-size: 22px;
    line-height: 26px;
}

.post p {
    font-size: 18px;
    line-height: 26px;
}

.post h4 {
    font-size: 20px;
    line-height: 26px;
}

.post ul {
    font-size: 18px;
    line-height: 26px;
}

.post ins {
    text-decoration: none;
}

.post blockquote {
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
}

.post-meta a {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #163152;
    text-decoration: none;
}

.post-meta time {
    font-size: 16px;
    line-height: 19px;
    color: #8693a4;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 120px;
    width: 1170px;
}

.contacts-wrapper {
    width: 400px;
    order: 1;
}

.contacts h2 {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.contact-item {
    font-size: 16px;
    line-height: 22px;
}

.contact-item h3 {
    font-size: 16px;
    line-height: 22px;
}

.contact-item address {
    font-style: normal;
}

.contact-item a {
    color: #163152;
    text-decoration: none;
}

.contacts-img {
    width: 670px;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 120px;
    font-size: 10px;
    line-height: 12px;
}

.main-footer-wrapper {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: 175px;
}

.main-footer .logo {
    width: 100px;
}

.footer-navigation-topics {
    display: flex;
    justify-content: space-between;
    width: 870px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.footer-navigation-topic {
    width: 165px;
}

.footer-navigation-topic h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer-navigation-item a {
    color: #163152;
    text-decoration: none;
}

.policy a {
    color: #163152;
    text-decoration: none;
}
